html {
  background-color: #58d3f5;
}
.wrapper{
  padding:20px;
}
.btn {
  margin: 10px 20px 0 0;
  background: white;
  padding: 10px;
  border-radius: 20px;
  color: black;
  border: 2px black solid;
  font-weight: bold;
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
  width: 100px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
