html {
  background-color: #58d3f5;
}

.btn {
  margin-right: 20px;
  background: white;
  padding: 10px;
  border-radius: 20px;
  color: black;
}

a {
  text-decoration: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
